**/bin/
**/obj/

**/.git/
**/.vs/
**/.vscode/
**/.idea/

**/*.user
**/*.rsuser
**/*.suo
**/*.userosscache
**/*.sln.docstates

**/TestResults/
**/*.trx
**/*.coverage
**/*.coveragexml
**/coverage/

**/*.log
**/*.tmp
**/*.temp

**/.env
**/.env.*
!**/.env.example
